<div class="d-flex flex-column justify-content-center align-items-center w-100 vh-100 p-5">
  
  <!-- TABLE -->

  <div class="title">
    <h1> {{ grupoPartida[0].descripcion }} </h1>
  </div>

  <table class="table table-dark">

    <thead>
      <tr>
        <td class="text-center" style="width: 150px;">
          <input type="checkbox" name="" id="" [checked]="isHabilitarChecked" (change)="onHabilitarChange(habilitarCheck.checked)" #habilitarCheck>
          <label for=""> HABILITAR </label>
        </td>
        <td> PARTIDA </td>
        <td class="text-center"> UNIDAD MEDIDA </td>
      </tr>
    </thead>

    <tbody>
      
      <ng-container *ngFor="let gp of grupoPartida">

        <!-- EL GRUPO DE PARTIDA TIENE SUBPARTIDAS -->
        <ng-container *ngIf="gp.subGrupoPartidas.length > 0"> <!--  -->
          <ng-container *ngFor="let sgp of gp.subGrupoPartidas">
            <tr>
              <td class="text-bg-secondary text-center">
                <input type="checkbox" name="" id="" [checked]="sgp.esHabilitado" (change)="onSubGrupoHabilitarChange(sgp.id , subGrupoCheck.checked)" #subGrupoCheck>
              </td>
              <td class="text-bg-secondary" colspan="2"> {{ sgp.descripcion }} </td>
            </tr>
            <tr *ngFor="let p of sgp.partidas">
              <td class="text-center ps-5">
                <input type="checkbox" name="" id="" [checked]="p.esHabilitado" (change)="onPartidaHabilitarChange(p.id, partidaCheck.checked, sgp)" #partidaCheck>
              </td>
              <td> {{ p.descripcion }} </td>
              <td class="text-center"> {{ p.unidadMedida }} </td>
            </tr>  
          </ng-container>
        </ng-container>


        <ng-container>
          <tr *ngFor="let p of gp.partidas">
            <td class="text-center">
              <input type="checkbox" name="" id="" [checked]="p.esHabilitado" (change)="onPartidaHabilitarChange(p.id, partidaCheck.checked)" #partidaCheck>
            </td>
            <td> {{ p.descripcion }} </td>
            <td class="text-center"> {{ p.unidadMedida }} </td>
          </tr>
        </ng-container>
      </ng-container>

    </tbody>

  </table>

</div>